.hero{
    height: 70vh;;
    background-image: url(../../assets/home1.jpeg);
    background-repeat: no;
    background-position:center;
    background-size: cover;
    border-radius: $br-l;
    margin-top:3rem;

    &__wrapper{
        width: 100%;
    
        @include flex(row, space-between, flex-start);
        padding: 3rem;
    }

    &__text{
        @include flex(column, space-between, flex-start);
        gap: 3rem;
        // background-color: $fourth-color;
        backdrop-filter: blur(10px);
        padding: 2rem;
        position: relative;
        top: 1rem;
        left: 1rem;
        border-radius: $br-l;
        border: 5px solid $light-color;

        h1{
            font-size: $fs-xl;
        }
    }

    &__images{
        @include flex(column, space-between, flex-start);
        gap: 2rem;
        backdrop-filter: blur(10px);
        padding: 1rem;
        border-radius: $br-l;
        border: 5px solid $light-color;

        img{
            width: 5rem;
            height: 5rem;
            border-radius: $br-l;
            transition: all 0.2s linear;

            &:hover{
                transform:scale(2);
                border: 2px solid $light-color;
            }
        }
    }

}


